// Buttons
$btn-font-weight: 500;
$btn-border-width: 1px; // use in outline button
$btn-focus-width: 0px;
//$btn-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.07);
//$btn-focus-box-shadow: 0px 8px 12px 5px rgba(0, 0, 0, 0.08);
//$btn-active-box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.10);
$btn-font-size: $small-font-size;
$btn-padding-y: 0.5rem;