// gray color variables
$white: #fff !default;
$gray-100: #f1f2f4 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #66737f !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #22262a !default;
$black: #000 !default;

// color variables
$blue: #0038A8 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #CE1126 !default;
$orange: #fd7e14 !default;
$orange-tint: #f6f2ee !default;
$yellow: #FCD116 !default;
$green: #8bc34a !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
$dark-blue: #324667 !default;
// theme colors
$primary: $blue !default;
$secondary: $yellow !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange-tint !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

//
$body-color: $dark-blue;

// sizes
$small-font-size: .875em !default;

$text-muted: $gray-600 !default;
// Input
$input-box-shadow: none;
$input-focus-color: none;
$input-focus-box-shadow: none;


// Buttons
//$btn-font-weight: 500;
//$btn-border-width: 0px;
$btn-focus-width: 0px;
$btn-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.07);
$btn-focus-box-shadow: 0px 8px 12px 5px rgba(0, 0, 0, 0.08);
$btn-active-box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.10);
$btn-font-size: $small-font-size;
$btn-padding-y: 0.5rem;

$table-striped-bg-factor: .02;
$body-bg: $orange-tint;
$input-bg: $white;

$modal-dialog-margin: 1rem !default;

$enable-shadows: true;
$enable-gradients: true;
$gradient: linear-gradient(90deg, rgba($white, .15), rgba($white, 0)) !default;
